# Ignore Node.js modules (installed packages)
node_modules/

# Ignore TypeScript build output
public/dist/
public/dist
# Ignore any compiled TypeScript files
*.js
*.js.map

# Ignore any temporary files
.DS_Store
