@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
:root {
  --primary-color: #00453e;
  --secondary-color: #ffdfd7;
  --ternary-color: #195851;
  --navay-blue-color: rgb(13,20,30);
  --lighter-color: #f7f7f7;
  --border-color: #fc68aa;
  --gray-color: #818181;
  --dark-color: #000;
  --light-color: #fff;
  --danger-color: red;
  --card-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 0.8rem;
}
header {
  width: 100%;
  color: #fff;
}
.nav_header {
  background-color: var(--primary-color);
  padding: 2% 2%;
}
.top_menu {
  display: flex;
  justify-content: space-between;
}
.top_menu__left___item {
  width: 30%;
  display: flex;
  gap: 8px;
  align-items: center;
}
.top_menu__left___item .bars{
  cursor: pointer;
}
.top_menu__left___item .bars span {
  display: block;
  background-color: #fff;
  width: 20px;
  height: 3px;
  margin: 3px 0;
}
.top_menu__left___item .logo {
  font-size: 1.3rem;
}

.top_menu__right___item {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
.top_menu__right___item .account {
  display: flex;
  align-items: center;
}
.top_menu__right___item .account > small {
  font-size: 0.8rem;
  font-weight: 600;
}
.top_menu__right___item .account > span,
.top_menu__right___item .cart > span {
  font-size: 1.2rem;
}

.search_bar {
  width: 100%;
  display: flex;
  margin-top: 8px;
  border: 1px solid var(--border-color);
  border-radius: 0.4rem;
  background-color: var(--light-color);
}
.search_bar > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  transition: all 0.2s;
  border: 2px solid transparent;
  border-radius: 0.4rem;
}
.search_bar > input:focus {
  border-left: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.search_bar > .search_icon {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  padding: 10px;
  border-radius: 0.4rem;
  z-index: 99;
}

.bottom_menu {
  width: 100%; /* Adjust as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;
  background-color: var(--ternary-color);
  padding: 0 2%;
}
.bottom_menu::-webkit-scrollbar {
  display: none !important;
}
.bottom_menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.bottom_menu ul li {
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px 8px;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}
.bottom_menu ul li:hover{
      border: 1px solid var(--light-color);
}

.bottom_menu ul li a {
  text-decoration: none;
  color: var(--light-color);
  font-size: 0.8rem;
  font-weight: 600;
}

/* ********** Sidebar ******* */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav h3{
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--gray-color);
  display: block;
  transition: 0.3s;
  font-size: 0.9rem;
}

.sidenav a:hover {
  color: var(--lighter-color);
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}




/**************** Banner Section*********** */

.banner{
  position: relative;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--dark-color);
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/********* Important Card Section */
.imp_card{
  position: absolute;
  top: 50%;
}
.row{
  width: 100%;
  display: flex;
  gap: 4px;
  padding: 2%;
  overflow-x: auto;
}

.card{
  min-width: 7rem;
  background-color: var(--light-color);
  box-shadow: var(--card-shadow);
}
.card_content > img{
  width: 100%;
}

.card_content > h3{
  font-size: 0.9rem;
  font-weight: 500;
}

/* ********** Deals Section ***************** */

.deals{
  width: 100vw;
  padding: 2%;
  margin-top: 2%;
  background-color: var(--lighter-color);
}
.deals > h3{
  font-size: 1.2rem;
  font-weight: 600;
}
.deals_card{
  width: 48%;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.8rem;
  padding: 2%;
  background-color: var(--light-color);
}
.deals_card > img{
  width: 100%;
  border-radius: 0.2rem;
}
.deals_offer__title{
  width: 100%;
  display: flex;
  gap: 5px;
}
.deals_offer__title > span{
  display: inline-block;
  margin: auto;
  padding: 3%;
  text-align: center;
  white-space: nowrap;
  background-color: var(--danger-color);
  font-size: 0.8rem;
  border-radius: 0.1rem;
  color: var(--light-color);
  font-weight: 600;
}
.deals_offer__title > h4{
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--danger-color);
}

.deals > a{
  text-decoration: none;
}

/* ******* Women Fashion Sneaker SEctions **** */

.fashion{
  width: 100vw;
  padding: 2%;
}
.fashion > h2{
   font-weight: bold;
}
.sneakers{
  width: 48%;
  padding: 10% 2%;
  margin-top: 2%;
  box-shadow: var(--card-shadow);
}
.sneakers > img{
  width: 100%;
}


/* Popular Fashion */
.popular_fashions{
  padding: 2%;
  background-color: var(--lighter-color);
}
.popular_fashions > h3{
 font-size: 1.3rem;
 font-weight: bold;
}

.product_item{
  display: flex;
  padding: 0 2%;
  margin-top: 1rem;
}
.product_item > img{
  width: 25%;
}
.product_content{
  margin-left: 1rem;
  overflow: hidden;
}
.product_content > h4{
  font-weight: 500;
}
.product_content > span{
  display: inline-block;
  margin-top: 0.5rem;
}

/* Footer */

.top{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  background-color: var(--primary-color);
  padding: 6% 0;
}
.top > small{
  color: var(--lighter-color);
  font-size: 1.2rem;
}
.top > a{
  line-height: 0.5;
  text-decoration: none;
  color: var(--light-color);
  font-size: 0.7rem;
  font-weight: 600;
}

.middle{
   display: flex;
   background-color: var(--ternary-color);
   padding: 8% 4%;
   gap: 3px;
}
.middle a{
  text-decoration: none;
  color: var(--light-color);
  font-size: 0.85rem;
  font-weight: 600;
}
.middle .left, .middle .right{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bottom{
  background-color: var(--navay-blue-color);
  color: white;
  padding: 10%;
}
.bottom .first{
  display: flex;
  justify-content: space-between;
}
.bottom .first > span{
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--gray-color);
}
.bottom .second{
  text-align: center;
  line-height: 4;
}
.bottom .third{
  display: flex;
  justify-content: center;
}
.bottom .third > a{
  color: var(--light-color);
  text-decoration: none;
  font-weight: 600;
}
.bottom .forth{
  line-height: 4;
  display: flex;
  justify-content: center;
  font-size: 0.69rem;
  word-spacing: 3px;
}


/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */