*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
.main{
      width: 100%;
      height: 100vh;
      background-color: #3d3d3d;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1%;
}
.sidebar{
      height: 95vh;
      width: 15%;
      background-color: #161616;
      color: white;
      display: flex;
      flex-direction: column;
      row-gap: 50px;
   border-radius: 10px;

}
.logo{
      width: 100%;
      padding: 20px 50px;

      /* background-color: yellow; */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 800;
      display: flex;
      /* justify-content: center; */
      font-size: 1.5rem;
}
.navigation{
      width: 100%;
      padding: 20px 50px;
      /* background-color: red; */
      list-style-type: none;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
      row-gap: 20px;
}
.navigation > li {
      padding-bottom: 20px;
      cursor: pointer;
      border-bottom: 1px solid #161616;
      transition: .3s;

}
.navigation > li:hover{
      border-bottom: 1px solid #3d3d3d;
      color: #4a85f8;
      
}
.navigation > li > i{
  margin-right: 20px;
}
.main_area{
    width: 83%;
    height: 95vh;
    background-color: #161616;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 20px;
}
.header{
     width: 100%;
     /* background-color: red; */
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #3d3d3d;
}
.intro{
      width: max-content;
      /* background-color: green; */
}
.profile{
      width: max-content;
      padding: 10px;
      /* background-color: green; */
      display: flex;
      align-items: center;
      column-gap: 15px;
}
.profile > img{         
      width: 50px;
      border-radius: 50%;
}
.stats{
      width: 100%;
      padding: 20px 0px;
      /* background-color: red; */
      display: flex;
      justify-content: space-between;
}
.stat{
      width: 24%;
      padding: 20px;
      background-color: #3d3d3d;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      transition: .3s;
      cursor: pointer;
}
.stat:hover{
      background-color: #4a85f8;
}

/* Chart css */
.charts{
      width: 100%;
      display: flex;
      justify-content: space-between;
     
}
.line_chart, .doughnut_chart, .polar_area{
      height: 400px;
      width: 49.3%;
      background-color: #3d3d3d;
      border-radius: 10px;
      padding: 20px;
}

.doughnut_chart, .polar_area{
      width: 24%;
      /* padding: 20px;
      background-color: #3d3d3d;
      border-radius: 10px; */
}