@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --yellow-color: yellow;
  --primary-color: rgba(64, 64, 234, 0.869);
  --grey-color: #333;
  --light-color: #f1f2f4;
  --text-color: #7b5f4a;
  --text2-color: #21213c;
  --text3-color: #818181;
  --heading-color: #212121;
  --search-bg-color: #f0f5ff;
  --danger-color: red;
  --footer-heading-color: #637D70;
  --lighter-color: rgba(128, 128, 128, 0.2);
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--light-color);
  color: var(--black-color);
}

/* ************** Utils class ********************** */

.container {
  max-width: 1600px !important;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-mini {
  gap: 0.3rem;
}
.gap-small {
  gap: 0.5rem;
}
.gap-medium {
  gap: 1rem;
}
.gap-large {
  gap: 1.5rem;
}
.gap-extra-large {
  gap: 2rem;
}
.p-percent {
  padding: 0 3%;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* ********** header for mobile screen **************** */

header nav.mobile_screen {
  background-color: var(--white-color);
  position: relative;
}
header .mobile_screen .top {
  padding: 0.5rem 0;
}
header .mobile_screen .top .top_left .menu {
  font-size: 1.55rem;
}
header .mobile_screen .top .top_left .logo img {
  width: 7.5rem;
}
header .mobile_screen .top .top_right .account .account_icon {
  font-size: 1.3rem;
}
header .mobile_screen .top .top_right .account span:last-child {
  font-size: 1.1rem;
}
header .mobile_screen .top .top_right .cart span {
  font-size: 1.4rem;
}
header .mobile_screen .middle {
  padding: 0 0 0.6rem 0;
}
header .mobile_screen .middle .search {
  background-color: var(--search-bg-color);
  border: 1px solid var(--search-bg-color);
  border-radius: 5px;
}
header .mobile_screen .middle .search span {
  padding: 0.6rem 0 0.6rem 0.6rem;
  font-weight: bold;
}
header .mobile_screen .middle .search input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.6rem 1rem;
}
header .mobile_screen .bottom .categories {
  overflow-x: auto;
}
header .mobile_screen .bottom .categories::-webkit-scrollbar {
  display: none;
}
header .mobile_screen .bottom .categories .category .category_img img {
  width: 68px;
}

/* ***********  side nav click menu ************ */

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  overflow-x: hidden;
  transition: 0.3s;
}

/* The navigation menu links */



/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

#main {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 1;
  display: none;
  transition: margin-left 0.5s;
  padding: 20px;
}

.sidenav .account_heading{
  background-color: var(--primary-color);
  padding: 1rem;
  
}
.sidenav .account_heading .account span{
  font-size: 1.2rem;
  color: var(--white-color);

}
.sidenav .account_heading .account a{
  text-decoration: none;
  color: var(--white-color);
  font-weight: bold;

}
.sidenav .account_heading .logo img{
      width: 25px;
}
.sidenav .nav_links hr{
  height: 1px;
  opacity: 0.6;
  border-width: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.sidenav .nav_links ul{
  list-style-type: none;
}
.sidenav .nav_links ul li
{
  padding: 0.6rem 0 0.6rem 1rem;
}
.sidenav .nav_links ul li:first-child
{
  padding-top: 1.5rem;
}
.sidenav .nav_links ul li a
{
  display: flex;
  text-decoration: none;
  gap: 0.8rem;
  color: var(--text3-color);
  font-size: 0.88rem;
  font-weight: 400;
}
.sidenav .nav_links ul .help a , .sidenav .nav_links ul .legal a
{
  font-size: 1rem;
  font-weight: bold;
}

/* ******************** Banner Section ********************** */

section.banner .small_screen .slide_img img {
  width: 100%;
  object-fit: cover;
  background-position: center;
}

/* Custom CSS for the slider */

section.banner .container {
  position: relative;
}
section.banner .container .next,
section.banner .container .prev {
  display: none !important;
  position: absolute;
  top: 30%;
  transform: translateX(-50%);
  z-index: 4;
  text-align: center;
  padding: 0 1rem;
  text-align: center;
  background-color: var(--white-color);
  border: none;
  outline: none;
  font-size: 1.3rem;
  height: 5rem;
  border-radius: 2px;
  overflow: hidden;
  color: var(--text-color);
}
section.banner .container .next {
  right: -1.5rem;
}
section.banner .container .prev {
  left: 1.4rem;
}

/* Custom CSS for the slider dots */

.slick-dots {
  display: block;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
/* Hide the dot numbers */

.slick-dots button {
  font-size: 10px;
  line-height: 1;
  border: none;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #ccc;
  color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slick-dots button:hover {
  background-color: #555;
}

/*************** Highlight Section ***********************************  */

section.highlight .highlight_wrap .highlight_card__img img {
  width: 100%;
}
section.highlight .highlight_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*************** New Year Specials Section *********************** */
section.specials .container {
  background-color: var(--white-color);
}
section.specials .special_wrap {
  padding: 1rem 0;
}
.heading_wrap {
  padding: 0 0 1rem 0;
}
.heading_wrap .heading {
  font-weight: bold;
  font-size: 1.3rem;
}
.heading_wrap .more {
  background-color: var(--primary-color);
  width: 25px;
  height: 25px;
  text-align: center;
  color: var(--white-color);
  border-radius: 50%;
  line-height: 1.2;
  font-size: 1.2rem;
  font-weight: bold;
}
.view_all {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 0.85rem;
  padding: 0.5rem 0.65rem;
  border-radius: 4px;
}
.product_wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.product_card {
  border: 1px solid var(--lighter-color);
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
.product_card:hover .card_img img {
  transform: scale(1.1);
}
.product_card .card_img {
  overflow: hidden;
  height: 80%;
}
.product_card .card_img img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.product_card .card_title h4 {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.2rem 0;
}
.product_card .card_discount span {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--danger-color);
}

.highlight_heading img {
  width: 100%;
}

/* ************* big screen *************888 */

.big_screen{
  background-color: var(--white-color);
  display: none;
}
.big_screen .nav_wrap{
  padding: 0.8rem 2rem;
}
.big_screen .nav_wrap a{
  font-size: 1rem;
  color: var(--black-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: none;
}
.big_screen .nav_wrap a:hover{
  color: var(--text-color);

}
.big_screen .nav_wrap .logo img{
   width: 125px;
   cursor: pointer;
}
.big_screen .nav_wrap .search_bar{
  background-color: var(--search-bg-color);
  border: 1px solid var(--search-bg-color);
  border-radius: 5px;
  flex: 1;
  max-width: 60%;
}
.big_screen .nav_wrap .search_bar .search_icon{
  padding: 0.6rem 0 0.6rem 1rem;
}
.big_screen .nav_wrap .search_bar .search_input{
  flex: 1;
}
.big_screen .nav_wrap .search_bar .search_input input{
  width: 100%;
  border: none;
  flex: 1;
  outline: none;
  background-color: transparent;
  padding: 0.6rem 1rem;
}
.big_screen .nav_wrap .account{
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.big_screen .nav_wrap .account span:first-child,.big_screen .nav_wrap .cart span,.big_screen .nav_wrap .store span,.big_screen .nav_wrap .more span{
   font-size: 1.3rem;
   transition: all 0.3s ease-in;
   cursor: pointer;
}
.big_screen .nav_wrap .account:hover,.big_screen .nav_wrap .cart span:hover,.big_screen .nav_wrap .store span:hover,.big_screen .nav_wrap .more span:hover{
  color: var(--text-color);
}
.big_screen .nav_wrap .account span:nth-child(2){
  font-size: 1.1rem;
  font-weight: 400;
}
.big_screen .nav_wrap .account span:last-child{
  transform: rotate(-180deg);
  font-size: 0.8rem;
}

/* ************ nav bottom categories ******************* */

header nav.categories{
  display: none;
  padding: 0 2%;
}

header nav.categories .categories{
  width: 100%;
  overflow-x: auto;
  margin: 0.5rem 0;
  padding: 1rem 8%;
}

header nav.categories .container{
  background-color: var(--white-color);
}
header nav.categories .categories::-webkit-scrollbar{
  display: none;
}
header nav.categories.categories .category .category_img img{
  width: 75px;
}

/* *************** big Screen banner section ********* */

section.banner .big_screen{
  width: 100%;
  display: none;
}
section.banner .big_screen .slide_img img{
  width: 100%;
  object-fit: cover;
  background-position: center;
}

/* ************************ footer section ***************** */

footer.footer{
  background-color: var(--heading-color);
  display: none;
}  
footer.footer .footer_wrap .footer_top{
  padding: 2rem 6%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
footer.footer .footer_wrap .footer_top h3{
  font-size: 0.8rem;
  color: var(--footer-heading-color);
  padding-bottom: 0.6rem;
}
footer.footer .footer_wrap .footer_top ul{
  list-style-type: none;
}
footer.footer .footer_wrap .footer_top ul li a{
  font-size: 0.75rem;
  color: var(--white-color);
  text-decoration: none;
}
footer.footer .footer_wrap .footer_top .mail ul li,footer.footer .footer_wrap .footer_top .address ul li{
  font-size: 0.75rem;
  color: var(--white-color);
  margin-top: 5px;
}
footer.footer .footer_wrap .footer_bottom{
  border-top: 1px solid var(--grey-color);
}
footer.footer .footer_wrap .footer_bottom .bottom_wrap{
  padding: 2rem 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer.footer .footer_wrap .footer_bottom .bottom_wrap div{
  display: flex;
  gap: 4px;
  margin-left: 0.5rem;
}
footer.footer .footer_wrap .footer_bottom .bottom_wrap small{
  color: var(--white-color);
  font-size: 0.75rem;
}
footer.footer .footer_wrap .footer_bottom .bottom_wrap div span{
  font-size: 0.75rem;
  white-space: nowrap;
}
footer.footer .footer_wrap .footer_bottom .bottom_wrap div span:first-child{
  color: var(--yellow-color);
}
footer.footer .footer_wrap .footer_bottom .bottom_wrap div span:last-child{
  color: var(--white-color);
}
footer.footer .footer_wrap .footer_bottom .bottom_wrap div:last-child img{
  width: 10rem;
}




@media (min-width: 600px){
   header .mobile_screen{
    display: none;
   }
   .big_screen{
    display: block;
  }

header nav.categories{
  display: block;
}

section.banner .big_screen{
  display: block;
}
section.banner .small_screen {
  display: none;
}
section.highlight{
  display: none;
}
.product_wrap{
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem;
}
.special_wrap{
  margin: 1rem 0;
}
section.specials{
  padding: 0 2%;
  border-radius: 2px;
}
.product_card{
  min-width: 160px;
}
footer.footer{
  display: block;
}

}


@media (min-width: 900px){
  .big_screen .nav_wrap a{
    display: block;
  }
  .big_screen .nav_wrap .logo img{
    width: 10rem;
 }
 header nav.categories.categories .category .category_img img{
  width: 85px;
}
section.banner .container .next,
section.banner .container .prev {
  display: block !important;
}
.product_wrap{
  gap: 1.1rem;

}
.product_card{
  min-width: 200px;
}
footer.footer .footer_wrap .footer_top{
  grid-template-columns: repeat(6,1fr);
}
footer.footer .footer_wrap .footer_top .mail{
  border-left: 1px solid var(--grey-color);
  padding-left: 2rem;
}
footer.footer .footer_wrap .footer_top ul li a{
  font-size: 0.8rem;
  font-weight: bold;
}
footer.footer .footer_wrap .footer_top .mail ul li,footer.footer .footer_wrap .footer_top .address ul li{
  font-size: 0.8rem;
  font-weight: bold;
}
footer.footer .footer_wrap .footer_bottom .bottom_wrap small{
  font-size: 0.82rem;
}
footer.footer .footer_wrap .footer_bottom .bottom_wrap div span{
  font-size: 0.82rem;
}
footer.footer .footer_wrap .footer_bottom .bottom_wrap div:last-child img{
  width: 24rem;
}
}