@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  height: 2000px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
:root {
  --dark-color: black;
  --primary-color: #a435f0;
  --white-color: white;
  --lighter-color: rgba(225, 216, 216, 0.781);
  --danger-color: red;
  --gray-color: rgba(137, 133, 133, 0.3);
  --text-color: #c2939e;
  --text2-color: #474612;
  --text3-color: #2d2f31;
  --text4-color: #76726f;
  --yellow-color: #eceb98;
  --footer-bg-color: #1c1d1f;
  --shadow-color: rgba(17, 17, 26, 0.2) 0px 2px 3px;
  --shadow2-color:  rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
/* utils class */

.container{
  max-width: 1250px !important;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.direction-column {
  flex-direction: column;
}
.gap-mini {
  gap: 0.4rem;
}
.gap-small {
  gap: 0.7rem;
}
.gap-medium {
  gap: 1rem;
}
.gap-large {
  gap: 1.5rem;
}
.pointer {
  cursor: pointer;
}

.p-percent{
  padding: 1rem 2%;
}

/* color utils */
.dark-color {
  color: var(--dark-color);
}
.dark-bg-color {
  background-color: var(--dark-color);
}
.primary-color {
  color: var(--primary-color);
}
.primary-bg-color {
  background-color: var(--primary-color);
}
.text-color {
  color: var(--text-colors);
}
.light-bg-color {
  background-color: var(--lighter-color);
}

.container {
  max-width: 800px;
}
.opacity {
  opacity: 0.7;
}

/* header  */

header.header {
  width: 100vw;
  box-shadow: var(--shadow-color);
  position: relative;
  z-index: 5;
}
header.header .nav-top {
  max-width: 2690px !important;
  padding: 6px 3%;
}
header.header .nav-top .logo img {
  width: 55px;
}

header.header .nav-top .middle-items {
  display: none;
}
header.header .nav-top .middle-items a {
  color: var(--dark-color);
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  text-decoration: none;
}
header.header .nav-top .middle-items a:hover {
  color: var(--primary-color);
}

header.header .nav-top .middle-items {
  flex: 1;
}
header.header .nav-top .middle-items .search-bar {
  flex: 1;
}
header.header .nav-top .middle-items .search-bar .search {
  border: 1px solid var(--gray-color);
  border-radius: 1.5rem;
}
header.header .nav-top .middle-items .search-bar .search span {
  padding: 0.8rem 1rem;
  opacity: 0.6;
}
header.header .nav-top .middle-items .search-bar .search .search-input input {
  width: 90%;
  padding: 0.8rem 0.2rem;
  border: none;
  outline: none;
  background-color: transparent;
}
header.header
  .nav-top
  .middle-items
  .search-bar
  .search
  .search-input
  input::placeholder {
  font-size: 0.8rem;
}
header.header .nav-top .middle-items .search-bar .search .search-input {
  width: 100%;
}

header.header .nav-top .right-items .heart,
header.header .nav-top .right-items .bell-icon,
header .nav-top .right-items .account {
  display: none;
  font-size: 1.2rem;
}

header.header .nav-top .right-items .account .account-title {
  background-color: var(--dark-color);
  font-weight: bold;
  border-radius: 50%;
  color: var(--white-color);
  padding: 0.4rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: small;
  line-height: 1.2;
}
header.header .nav-bottom {
  border-top: 1px solid var(--lighter-color);
  display: none;
}

header.header .nav-bottom .nav-bottom-content {
  max-width: 1150px;
  margin: 0 auto;
  padding: 1rem 2%;
  flex: 1;
  overflow-x: auto;
}
header.header .nav-bottom .nav-bottom-content::-webkit-scrollbar {
  display: none;
}

header.header .nav-bottom .nav-bottom-content .category a {
  white-space: nowrap;
  font-size: 0.92rem;
  color: var(--dark-color);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
header.header .nav-bottom .nav-bottom-content .category a:hover {
  color: var(--primary-color);
}
header.header .mobile-menu-items {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 0;
  left: 0;
  overflow-x: hidden;
  background-color: var(--white-color);
  height: 100vh;
  border-right: 1px solid var(--lighter-color);
  transition: all 0.4s;
}
header.header .mobile-menu-items .account {
  padding: 1.2rem 0;
}
header.header .mobile-menu-items .account .account-img {
  background-color: var(--dark-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 0.35rem;
  font-size: 1rem;
  border-radius: 50%;
  border: 1px solid var(--dark-color);
  line-height: 1.3;
}
header.header .mobile-menu-items .account .account-title span {
  font-size: 0.8rem;
  white-space: nowrap;
  font-weight: bold;
}
header.header .mobile-menu-items .account .account-title small {
  font-size: 0.68rem;
  white-space: nowrap;
  color: var(--gray-color);
}
header.header .mobile-menu-items .account .angle-right {
  font-size: 0.7rem;
  color: var(--dark-color);
}

header.header .cross-menu {
  position: fixed;
  left: 55%;
  top: 1rem;
  padding: 1rem;
  line-height: 0.8;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid var(--lighter-color);
  cursor: pointer;
  display: none;
  transition: all 0.4s ease-in-out;
}

header.header .mobile-menu-items .nav-links .instructor {
  padding: 1rem 2%;
}
header.header .mobile-menu-items .nav-links .instructor a {
  white-space: nowrap;
  font-size: 0.8rem;
}

header.header .mobile-menu-items .nav-links .learn {
  border-top: 1px solid var(--lighter-color);
  padding: 1rem 5%;
}
header.header .mobile-menu-items .nav-links .learn h4 {
  color: var(--text4-color);
  font-size: 0.78rem;
}

header.header .mobile-menu-items .nav-links .learn a {
  color: var(--dark-color);
  font-size: 0.8rem;
}
header.header .mobile-menu-items .nav-links .popular {
  border-top: 1px solid var(--lighter-color);
  padding: 1rem 5%;
}
header.header .mobile-menu-items .nav-links .popular h4 {
  color: var(--text4-color);
  font-size: 0.78rem;
}
header.header .mobile-menu-items .nav-links .popular a {
  color: var(--dark-color);
  font-size: 0.8rem;
  width: 90%;
}
header.header .mobile-menu-items .nav-links button {
  width: fit-content;
  display: inline;
  padding: 0.5rem 1.8rem;
  outline: none;
  border: none;
  border: 1px solid var(--gray-color);
  border-radius: 2px;
  margin-bottom: 2rem;
}

header.header .mobile-menu-items .nav-links .popular .angle-right {
  font-size: 0.7rem;
  color: var(--text3-color);
}




/* ********************** Banner Section *********** */


section.banner{
  width: 100%;
}
section.banner .banner-img{
  position: relative;
}
section.banner .banner-img .small-banner{
  width: 100%;
  object-fit: cover;
  height: auto;
  object-position: center;
}

section.banner .banner-img .big-banner{
  display: none;
  width: 100%;
  height: auto;
  object-fit: contain;
}

section.banner .banner-card{
  position: absolute;
  left: 8%;
  top: 10%;
  width: 18rem;
  height: 9rem;
  background-color: var(--white-color);
  box-shadow: var(--shadow2-color);
  padding: 1.5rem;
  display: none;
  border-radius: 1px;

}
section.banner .banner-card h1{
 font-size: 2.5rem;
 font-weight: bold;

}
section.banner .banner-card p{
 font-size: 1rem;
 color: var(--text3-color);
  padding-top: 0.5rem;
}

/* ********************** Learning Section *********** */


   


/* slider code  */
.slider-container{
  position: relative;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: var(--white-color);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* .slide{
  flex: 0 0 100%;
} */

.slick-slide{
  margin: 0 10px;
}
.slick-list{
  margin: 0 -27px;
}
.slick-track{
  padding: 1rem 0;
}

section.learning .learning-wrap .learning-heading h1{
  font-size: 2.5rem;
  
}

section.learning .learning-wrap .slider-container .learning-row .learning-card{
  position: relative;
  display: flex;
  padding: 1.5rem 0;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 1px solid var(--gray-color);
}

section.learning .learning-wrap .slider-container .learning-row .learning-card .learning-content{
  flex-basis: 50%;
}


section.learning .learning-wrap .slider-container .learning-row .learning-card .learning-close-icon{
  position: absolute;
  color: black;
  right: 15px;
  top: 5px;
  
}
section.learning .learning-wrap .slider-container .learning-row .learning-card .alarm-icon img{
  width: 7rem;
}

/* ******* Business Section ************************** */

section.business .business-card{
  display: flex;
  flex-direction: column;
  background-color: var(--text3-color);
  color: var(--white-color);
  padding: 1rem;
  gap: 0.8rem;
  border-radius: 1px;
}
section.business .business-card h4{
  font-size: 0.9rem;
  font-weight: 400;
}


section.business .business-card .business-title h4 span{
  font-weight: bold;
  font-size: 1.1rem;
}
section.business .business-card .business-button{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
section.business .business-card .business-button button{
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
}
section.business .business-card .business-button button:hover{
  opacity: 0.9;
}
section.business .business-card .business-button .second-btn{
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
}


/* ************************ Top pick section ********** */


section.top-pick .small-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.8rem;
}
section.top-pick .top-first-heading h1{
  font-size: 1.8rem;
  color: var(--text3-color);
}

section.top-pick .top-pick-wrap{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.top-pick .top-pick-wrap .top-pick-heading h3{
  font-weight: bold;
  font-size: 1.4rem;
}
section.top-pick .top-pick-wrap .top-pick-card{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-img img{
  width: 100%;
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content{
  display: flex;
  flex-direction: column;
  gap: 1px;
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-desc p{
  font-size: 0.7rem;
  word-spacing: 2px;
  line-height: 1.2;
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-update small,section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-author small{
  font-size: 0.6rem;
  word-spacing: 2px;
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-rating{
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
  gap: 0.5rem;
  font-size: 0.6rem;
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-rating .rating-star span{
 color: var(--danger-color);
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-price span{
  font-size: 0.8rem;
  font-weight: bold;
}

/* ************ items card *********************** */

section.items .items-wrap .heading h4{
  font-size: 1.4rem;
  font-weight: bold;

}
section.items .items-wrap .heading{
  padding: 1rem 0;
}
section.items .items-wrap .item-row .item-card{
  max-width: 270px;
  padding: 0.5rem;
}

section.items .items-wrap .item-row .item-card .item-card-img img{
  width: 100%;
  padding-bottom: 4px;
}

section.items .items-wrap .item-row .item-card .item-content{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
section.items .items-wrap .item-row .item-card .item-content .item-title{
  width: fit-content;

}
section.items .items-wrap .item-row .item-card .item-content .item-title h4{
  font-size: 0.8rem;
}
section.items .items-wrap .item-row .item-card .item-content .item-authar small{
  color: var(--text4-color);
}
section.items .items-wrap .item-row .item-card .item-content .item-rating{
  font-size: 0.7rem;
}
section.items .items-wrap .item-row .item-card .item-content .item-rating span:first-child{
  color: var(--danger-color);
  font-weight: bold;
}

section.items .items-wrap .item-row .item-card .item-content .item-rating .item-star-rating span{
  color: var(--danger-color);
}
section.items .items-wrap .item-row .item-card .item-content .item-price{
  font-size: 0.8rem;
  font-weight: bold;
}
section.items .items-wrap .item-row .item-card .item-content .item-bestseller small{
  background-color: var(--yellow-color);
  color: var(--text2-color);
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border-radius: 1px;
}
section.items .items-wrap .item-row .item-card .item-content .item-bestseller{
  padding-top: 0.35rem;
}

section.items .items-wrap .item-row{
  position: relative;
}

section.items .items-wrap .item-row .prev-item-icon,section.items .items-wrap .item-row .next-item-icon{
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  background-color: #333;
  color: var(--white-color);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev-item-icon {
  left: 0;
}

.next-item-icon {
  right: 0;
}



/* ********* Footer Section ***************** */

footer.footer{
  margin-top: 2rem;
   background-color: var(--footer-bg-color);
}
footer.footer > .top .top-first h3{
  color: var(--white-color);
  font-size: 0.9rem;
}
footer.footer > .top .top-first, footer.footer > .top .top-second, footer.footer > .bottom{
  padding: 1rem 4%;
}

footer.footer > .top .top-first h3 span{
  color: var(--primary-color);
}

footer.footer > .top .top-second span .brand-img{
  max-width: fit-content;
  width: 4rem;
  vertical-align: middle;
}

footer.footer > .bottom .top .category ul li a{
  color: var(--white-color);
  text-decoration: none;
  font-size: 0.75rem;
}
footer.footer > .bottom .top .language button{
  
  display: flex;
  border: 1px solid var(--white-color);
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  color: var(--white-color);
  background-color: transparent;
  outline: none;
}
footer.footer > .bottom .down .logo img{
  width: 55px;
}
footer.footer > .bottom .down .logo{
  margin-top: 1rem;
}
footer.footer > .bottom .down small{
  color: var(--white-color);
  font-size: 0.65rem;
}










/* ********** Media query *********** */


@media (min-width: 600px) {
  header.header .nav-top .logo img {
    width: 68px;
  }
  .opacity {
    opacity: 0.9;
  }
  header.header .mobile-menu-items .nav-links .instructor {
    padding: 1rem 12%;
  }

  header.header .mobile-menu-items .nav-links .instructor a {
    white-space: nowrap;
    font-size: 1rem;
  }
  header.header .mobile-menu-items .nav-links .instructor {
    justify-content: flex-start;
  }
  header.header .mobile-menu-items .account .account-img {
    padding: 1rem;
    font-size: 1.5rem;
  }

  header.header .mobile-menu-items .account .account-title span {
    font-size: 1.2rem;
  }
  header.header .mobile-menu-items .account .account-title small {
    font-size: 0.8rem;
    line-height: 2;
  }
  header.header .mobile-menu-items .account .angle-right {
    font-size: 1rem;
  }
  header.header .mobile-menu-items .nav-links .learn,
  header.header .mobile-menu-items .nav-links .popular {
    padding: 1rem 12%;
  }
  header.header .mobile-menu-items .nav-links .learn h4,
  header.header .mobile-menu-items .nav-links .popular h4 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  header.header .mobile-menu-items .nav-links .learn a,
  header.header .mobile-menu-items .nav-links .popular a {
    font-size: 1.3rem;
  }

  header.header .mobile-menu-items .nav-links .popular .angle-right {
    font-size: 0.8rem;
  }

section.banner .banner-img .small-banner{
  display: none;
}
section.banner .banner-img .big-banner{
  display: block;
  
}
section.banner .banner-card{
  display: block;
  top: 2%;
  height: 8rem;
  width: 16rem;
}

section.business .business-card{
  flex-direction: row;  
  padding: 1.5rem;
}
section.business .business-card .business-button{
  flex-direction: row;
  width: 55%;
  gap: 0.6rem;
}
section.business .business-card .business-button button{
  padding: 0.8rem 1rem;
}
section.business .business-card .business-button .first-btn{
  font-weight: bold;
}

section.top-pick .top-pick-wrap .top-pick-card{
  width: fit-content;
  flex-direction: row;
  padding: 1.6rem;
  gap: 1rem;
  border: 1px solid var(--gray-color);
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-img{
  width: 40%;
}

section.top-pick .top-pick-wrap .top-pick-card .top-pick-content{
  flex: 1;
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-title h5{
  font-size: 1.1rem;
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-desc p{
  font-size: 0.95rem;
  word-spacing: 1px;
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-update small,section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-author small{
  font-size: 0.8rem;
  color: var(--text4-color);
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-rating{
  font-size: 0.8rem;
}
section.top-pick .top-pick-wrap .top-pick-card .top-pick-content .top-pick-price span{
  font-size: 1rem;
}
footer.footer > .top .top-first h3{
  color: var(--white-color);
  font-size: 1.3rem;
}

footer.footer > .top{
  border-bottom: 1px solid var(--gray-color);
}

footer.footer > .top .top-second span .brand-img{
  width: 8rem;
}
footer.footer > .bottom .top .category ul li a{
  color: var(--white-color);
  text-decoration: none;
  font-size: 0.98rem;
}
footer.footer > .bottom .top .category{
  display: flex;
  flex: 1;
  justify-content: space-between;
}
footer.footer > .bottom .top .category ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer.footer > .bottom .top .language{
  width: 15%;
}
footer.footer > .bottom .top{
  flex-direction: row;
  justify-content: space-between;
}

footer.footer > .bottom .down{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
footer.footer > .bottom .down .logo{
  margin-top: 0;
}
footer.footer > .bottom .down .logo img{
  width: 95px;
}
footer.footer > .bottom .down small{
  font-size: 0.73rem;
}



}

@media (min-width: 900px) {
  header.header .nav-top .logo img {
    width: 95px;
  }
  .opacity {
    opacity: 0.9;
  }
  header.header .nav-top .right-items .search {
    display: none;
  }
  header.header .nav-top .right-items .cart {
    font-size: 1.2rem;
  }
  header.header .nav-top {
    justify-content: flex-start;
    gap: 1.2rem;
    padding-left: 2%;
    padding-right: 2%;
  }
  header.header .nav-top .menu {
    display: none;
  }
  header.header .nav-top .middle-items {
    display: flex;
  }
  header.header .nav-top .right-items .heart,
  header.header .nav-top .right-items .bell-icon,
  header .nav-top .right-items .account {
    display: block;
  }
  header.header .nav-bottom {
    display: block;
  }
  header.header .mobile-menu-items {
    display: none;
  }
  header.header .cross-menu {
    display: none !important;
  }
  section.banner .banner-card{
  top: 10%;
  width: 22rem;
  height: 10rem;

  }
  section.banner .banner-card p{
    font-size: 1.2rem;
  }

  section.business .business-card{
    padding: 2rem;
  }
  
  section.business .business-card .business-button{
    justify-content: flex-end;
  }
  footer.footer .top{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer.footer .bottom .top .language{
     width: 50%;
     display: flex;
     align-self: flex-start;
     justify-content: flex-end;
  }

}
