<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<style>
      .slider {
    width: 400px;
    overflow: hidden;
    position: relative;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 400px;
}

</style>
<body>
    <div class="slider">
        <div class="slider-container">
            <div class="slide">
                <img src="image1.jpg" alt="Image 1">
            </div>
            <div class="slide">
                <img src="image2.jpg" alt="Image 2">
            </div>
            <div class="slide">
                <img src="image3.jpg" alt="Image 3">
            </div>
        </div>
    </div>
    <script src="script.js"></script>
    <script>
    
    </script>
</body>
</html>
